body 
{
    background-color: black;
    background-image: url(assets/batman\ 4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

img
{
    height: 300px;
    border: 5px solid red;
    border-radius: 50px;
}
footer p{
    color: rgb(0, 0, 0);
}
h1{ 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    font-size: xx-large;
    padding: 50px;
}